.banner-cointainer {
  height: 180px;
  width: 400px;
  background-color: white;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  border-radius: 8px 8px 0px 0px;
}

.banner-cointainer img {
  position: absolute;
  height: 180px;
  top: 50px;
  left: 235px;
  cursor: pointer;
}

p {
  font-family: monospace;
}

.hello {
  font-size: 15px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
  height: 150px;
  padding-left: 5px;
  padding-bottom: 20px;
  margin-left: 10px;
  box-sizing: border-box;
}

.name {
  font-size: 15px;
  margin-top: 0px;
}

.check {
  font-size: 7px;
  margin-top: 0px;
}

@media only screen and (min-width: 600px) {
  .banner-cointainer {
    height: 255px;
    width: 800px;
    background-color: white;

    border-radius: 8px 8px 0px 0px;
    display: flex;

    flex-direction: row;

    align-items: stretch;
  }

  .banner-cointainer img {
    height: 255px;
    cursor: pointer;
    position: static;
  }

  p {
    font-family: monospace;
  }

  .hello {
    font-size: 25px;
    padding-left: 80px;
  }

  .text {
    display: flex;
    flex-direction: column;
    width: 502px;
    align-items: stretch;
    justify-content: stretch;

    margin-left: 0px;

    height: auto;
  }

  .pointer {
    font-size: 14px;
    text-align: end;
    margin-top: 43px;
    padding-right: 10px;
  }

  .name {
    font-size: 22px;
    margin-top: 0px;
    padding-left: 80px;
  }

  .check {
    margin-top: 0px;
    padding-left: 80px;
    font-size: 14px;
    margin-top: 10px;
  }
}